body {
    background: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
    border: 5px;
    border-color: azure;
    
}

header {
    font-size: 400%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:22%;
    text-align: center;
    background: linear-gradient(to bottom, red,orange,yellow,violet);
    border-style: dotted;
    border-width: 5px;
    border-color: azure;
}

#buttons {
    float: right;
    position: fixed;
    top:180px;
    margin-left: 70%;
}

#dance-form {
    float: relative;
    position: fixed;
    top:420px;
    margin-left: 70%;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:30px;
    text-align: center;
    clear: both;
    font-size: 80%;
    background-color: rgb(218, 222, 224);
    border-style: dotted;
    border-width: 5px;
    border-color: azure;
    padding-top: 7px;
}

